$text-color: #5B6063;
$mewTwo-blue: #2453A6;

*{
  font-family: 'Merienda', cursive;
}

.welcomePageContainer {
  background-image: url("../../assets/images/mewTwo.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcometitle{
  color: $text-color;
  text-align: center;
  font-size: 2rem;
  width: 80%;
}

.nameSpan {
  color: black;
}

.welcomeCardContainer {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
