.welcomePageContainer {
  background-image: url("../../assets/images/pokemonBackground.jpeg");
  background-size: cover;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.welcomeCardContainer {
  display: flex;
  flex-direction: column;
}

.signUpContainer {
  display: flex;
  justify-content: center;
}
