<mat-card>
  <mat-card-content>
    <div>
      Player Name: {{loginService.playerName}}
    </div>
    <div>
      <mat-select [(ngModel)]="playerInfoService.gameInfo.playerCount">
        <mat-option value=1>1</mat-option>
        <mat-option value=2>2</mat-option>
        <mat-option value=3>3</mat-option>
        <mat-option value=4>4</mat-option>
      </mat-select>
    </div>
    <div>
      <p>Select Other Players</p>
      <mat-select>
        <mat-option *ngFor="let player of previousPlayers">{{player.name}}</mat-option>
      </mat-select>
    </div>
    <div>
      Number of Matches To Be Found
    </div>
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="saveGameToFirebase()">Save Game</button>
</mat-card>
