<head>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Boogaloo|Concert+One|Luckiest+Guy|Press+Start+2P|Sigmar+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda|Russo+One" rel="stylesheet">
</head>
<div class="gamesetup">
<mat-card class="setup">
  <mat-card-content>
    <mat-card-title class="playerName">
      {{loginService.playerName}}
    </mat-card-title>
    <div class="infoContainer">
      <div class="infoTitle">Amount of Players</div>
      <mat-select placeholder="Select Amount of Players" [(ngModel)]="playerInfoService.gameInfo.playerCount" (selectionChange)="buildMatches()">
        <mat-option [value]=1>1</mat-option>
        <mat-option [value]=2>2</mat-option>
        <mat-option [value]=3>3</mat-option>
        <mat-option [value]=4>4</mat-option>
      </mat-select>
    </div>
    <div class="infoContainer" *ngIf="playerInfoService.gameInfo.playerCount && playerInfoService.gameInfo.playerCount != 1">
      <div class="infoTitle">Select {{playerInfoService.gameInfo.playerCount-1}} Other Player(s) To Play Against</div>
      <mat-form-field>
        <mat-select [formControl]="players" (selectionChange)="checkPlayers()" multiple [(ngModel)]="playerInfoService.gameInfo.players">
          <mat-option *ngFor="let player of previousPlayers" (change)="!player.selected" [disabled]="player.selected || disablePlayers" [value]="player.name">{{player.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="infoContainer" *ngIf="(playerInfoService.gameInfo.playerCount && playerInfoService.gameInfo.players.length == playerInfoService.gameInfo.playerCount) || playerInfoService.gameInfo.playerCount == 1">
      <div class="infoTitle">Card Set to Play With</div>
      <mat-select placeholder="Select Set to Play" [(ngModel)]="pokemonService.pokemonSelectedSet">
        <mat-option [value]="set" *ngFor="let set of pokemonService.pokemonSets">{{set.name}}</mat-option>
      </mat-select>
    </div>
    <div class="infoContainer" *ngIf="pokemonService.pokemonSelectedSet != null">
      <div class="infoTitle">Number of Matches To Be Found</div>
      <mat-select placeholder="Select Amount of Matches" (selectionChange)="pokemonService.setCardCount(); setRounds()" [(ngModel)]="playerInfoService.gameInfo.matchesCount">
        <mat-option [value]="smallMatches">Small: {{smallMatches}}</mat-option>
        <mat-option [value]="largeMatches">Large: {{largeMatches}}</mat-option>
      </mat-select>
    </div>
  </mat-card-content>
  <mat-card *ngIf="playerInfoService.gameInfo.matchesCount && playerInfoService.gameInfo.playerCount && playerInfoService.gameInfo.players && pokemonService.pokemonSetCardCount" class="gameInfoContainer">
    <mat-card-title>Verify Game Information</mat-card-title>
    <mat-card-content>Players: <span *ngFor="let gamePlayer of playerInfoService.gameInfo.players; let i = index">{{gamePlayer}}{{i == playerInfoService.gameInfo.players.length - 1 ? '' : ', '}}</span></mat-card-content>
    <mat-card-content>Card Set: {{pokemonService.pokemonSelectedSet.name}}</mat-card-content>
    <mat-card-content>Matches: {{playerInfoService.gameInfo.matchesCount}}</mat-card-content>
    <button
      mat-raised-button color="primary"
      (click)="saveGameToFirebase(); gameStart()"
    >Start Game</button>
    <button mat-raised-button color="accent" (click)="resetPage()">Reset</button>
  </mat-card>
</mat-card>
</div>
