<head>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Boogaloo|Concert+One|Luckiest+Guy|Press+Start+2P|Sigmar+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda|Russo+One" rel="stylesheet">
</head>
<div class="statscontainer">
  <div class="statscard">
    <div class="playername">{{loginService?.playerName}}'s Stats:</div>
    <div>Games Lost: {{playerInfoService.playerInfo?.gamesLost}}</div>
    <div>Games Played: {{playerInfoService.playerInfo?.gamesPlayed}}</div>
    <div>Games Won: {{playerInfoService.playerInfo?.gamesWon}}</div>
    <div>Games Tied: {{playerInfoService.playerInfo?.gamesTied}}</div>
    <div class="namewrap">Players Beaten: {{playerInfoService.playerInfo?.playersBeaten}}</div>
    <div class="namewrap">Players Lost To: {{playerInfoService.playerInfo?.playersLostTo}}</div>
    <div>Score: {{playerInfoService.playerInfo?.score}}</div>
  </div>
</div>
