<div class="statscontainer">
  <div class="statscard">
  <div class="playername">{{loginService?.playerName}}'s Stats:</div>
  <div>Games Lost: {{playerInfoService.playerInfo?.gamesLost}}</div>
  <div>Games Played: {{playerInfoService.playerInfo?.gamesPlayed}}</div>
  <div>Games Won: {{playerInfoService.playerInfo?.gamesWon}}</div>
  <div>Games Tied: {{playerInfoService.playerInfo?.gamesTied}}</div>
  <div>Players Beaten: {{playerInfoService.playerInfo?.playersBeaten}}</div>
  <div>Players Lost To: {{playerInfoService.playerInfo?.playersLostTo}}</div>
  <div>Score: {{playerInfoService.playerInfo?.score}}</div>
</div>
</div>
