.mainmaincontainer{
  display: flex;
  justify-content: center;
}

.maincontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
}

.cardcontainer{
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: auto;
}

.gameinfo{
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.gameinfos{
  margin-right: 10px;
}

.cards {
  padding: 0;
}

.cardImage {
  width: 100%;
}

.playerinfos {
  display: flex;
  justify-content: center;
}

.disabled {
  pointer-events: none;
}

.mainInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px){
  .cardcontainer{
    width: 22%;
  }
}
