<head>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Boogaloo|Concert+One|Luckiest+Guy|Press+Start+2P|Sigmar+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda|Russo+One" rel="stylesheet">
</head>
<app-animation-page *ngIf="!gameReady"></app-animation-page>
<div class="mainInfoContainer" *ngIf="gameReady" [ngStyle]="{'background-image': ((playerInfoService.gameInfo.matchesCount == 0) || (playerInfoService.gameInfo.playerCount == 1 && playerInfoService.gameInfo.roundCount == 0)) ? 'url(' + '../../assets/images/pokemonBackground4.jpg' + '' : 'none'}">
  <mat-card class="gameinfo">
    <div class="gameStatsContainer">
      <div class="gameinfos"><span class="infoText">Current Player Turn: </span> <span class="dataText">{{playerInfoService.gameInfo.players[currentPlayerIndex]}}</span></div>
      <div class="gameinfos"><span class="infoText">Matches Left: </span> <span class="dataText">{{playerInfoService.gameInfo.matchesCount}}</span></div>
      <div class="gameinfos"><span class="infoText">Rounds {{playerInfoService.gameInfo.playerCount == 1 ? 'Left' : 'Played'}}: </span> <span class="dataText">{{playerInfoService.gameInfo.roundCount}}</span></div>
    </div>
    <div class="playerinfos">
      <mat-card class="playerCard" *ngFor="let player of playerInfoService.gameInfo.players; let i = index">
        <div class="playerName">{{player}}</div>
        <div><span class="infoText">Score: </span> <span class="dataText">{{playerInfoService.gameInfo.playerScores[i]}}</span></div>
      </mat-card>
    </div>
    <div class="buttonContainer">
      <!--<button mat-raised-button color="primary" (click)="showAll()">Show All</button>-->
      <button mat-raised-button color="primary" *ngIf="(playerInfoService.gameInfo.matchesCount == 0) || (playerInfoService.gameInfo.playerCount == 1 && playerInfoService.gameInfo.roundCount == 0)" (click)="viewStats()">View Stats</button>
    </div>
  </mat-card>
  <div class="mainmaincontainer">
    <div class="maincontainer" *ngIf="!(playerInfoService.gameInfo.playerCount == 1 && playerInfoService.gameInfo.roundCount == 0)">
      <div class="cardcontainer" [ngStyle]="{'width': (playerInfoService.gameInfo.playerCount == 3) ? '15%' : '12%'}" *ngFor="let cards of cardsArray; let i = index">
        <mat-card class="cards">
          <img [class.disabled]="disableClicking" [style.display]="cards.matched ? 'none' : 'flex'" (click)="checkDisable();toggleClicked(i, cards)" class="cardImage" src="{{ cards.clicked ? cards.image : '../assets/images/cardBack.jpg'}}">
        </mat-card>
      </div>
    </div>
  </div>
  <mat-card *ngIf="(playerInfoService.gameInfo.matchesCount == 0) || (playerInfoService.gameInfo.playerCount == 1 && playerInfoService.gameInfo.roundCount == 0)">
    <mat-card-title>Game Complete</mat-card-title>
  </mat-card>
</div>
