*{
  margin: 0;
}

.cardcontainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh
}
.ng-star-inserted{
  width: 25%;
  height: 10vh;
}
//
//.cards{
//  width: 35%;
//  height: 100px;
//}
