<head>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Boogaloo|Concert+One|Luckiest+Guy|Press+Start+2P|Sigmar+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda|Russo+One" rel="stylesheet">
</head>
<mat-card *ngIf="!loginService.loggedIn" class="signInContainer">
  <div class="contentContainer">
    <mat-card-title class="loginprompt">Please Login To Continue</mat-card-title>
    <mat-card-content>
      <button color="primary" mat-raised-button (click)="loginWithGoogle()" class="signinbutton">Log In</button>
    </mat-card-content>
  </div>
</mat-card>

