$mewTwo-blue: #2453A6;

.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginprompt {
  font-family: 'Merienda', cursive;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signinbutton {
  font-family: 'Merienda', cursive;
}
